        <div class="shadow-corner-curl hidden-xs">
	  <div class="categories-list-header">Search</div>
<!-- http://www.google.com/cse/docs/tos.html?hl=zh-CN -->
<form name="cse" id="searchbox_demo" action="/search.html">
  <input type="hidden" name="cref" value="" />
  <input type="hidden" name="ie" value="utf-8" />
  <input type="hidden" name="hl" value="zh-CN" />
  <input name="q" type="text" size="30" />
  <input type="submit" name="sa" value="Search" />
</form>
<script type="text/javascript" src="http://www.google.com/cse/tools/onthefly?form=searchbox_demo&lang=zh-CN"></script>


</div>
